* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.content-container {
    max-width: 1140px;
    margin: 0 auto;
    position: relative;
}

.promo {
    height: 820px;
    background: url('../img/background/main-background.png') center center/cover no-repeat;
    padding: 40px 0 50px 0;
}

.logo {
    display: flex;
}

.logo .logo_img {
    margin-right: 15px;
}

.logo .logo_text {
    font-family: 'Roboto';
    color: #828282;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
    text-transform: uppercase;
    margin-top: 14px;
}

.title {
    margin-top: 80px;
    margin-bottom: 8px;
    text-align: center;
    font-family: 'Roboto';
    color: #FFFFFF;
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 40px;
    text-transform: uppercase;
}

.main-title {
    max-width: 870px;
    margin-top: 125px;
    text-align: left;
    font-family: 'Roboto';
    color: #333333;
    font-style: normal;
    font-weight: 600;
    font-size: 50px;
    line-height: 59px;
    text-transform: uppercase;
}

.promo .promo__text {
    max-width: 777px;;
    font-family: 'Roboto';
    color: #4F4F4F;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
}

.descr {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 21px;
    text-align: center;
}

.promo .promo__text span {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 28px;
    color: #333333;
}

.main-button {
    width: 342px;
    height: 72px;
    background: linear-gradient(0deg, #2F2CAE 0%, #5552D7 100%);
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    font-size: 21px;
    line-height: 25px;
    text-transform: uppercase;
    color: #FFFFFF;
    border: 0;
    cursor: pointer;
}

.buttons {
    display: flex;
    align-items: center;
    margin-top: 50px;
    max-width: 580px;
    flex-wrap: wrap;
}

.secondary-button {
    display: flex;
    align-items: center;
    margin-left: 35px;
    cursor: pointer;
}

.secondary-button .secondary-button__boby {
    margin-right: 15px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
    text-align: center;
    text-transform: uppercase;
    color: #828282;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.promo__img {
    position: absolute;
    right: -50px;
    top: 150px;
    max-width: 470px;
    max-height: 370px;
}

.get-gift__content {
    margin-left: 550px;
}

.get-gift {
    background: url(../img/background/get-gift-background.png) center center/cover no-repeat;
    padding: 150px 0;
}

.get-gift__title {
    color: #922CFD;
    text-align: left;
    margin-top: 0;
}

.get-gift__descr {
    text-align: left;
    color: #4F4F4F;
    margin-top: 25px;
}

.get-gift__main-button {
    margin-left: 550px;
    margin-top: 60px;
}

.get-gift__img {
    margin-left: 550px;
    margin-bottom: 40px;
}

.waiting {
    background: url(../img/background/waiting-background.png) center center/cover no-repeat;
    min-height: 644px;
    padding: 150px 0;
}

.waiting .waiting__title {
    text-align: center;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    margin-top: 0;
    text-transform: uppercase;
}

.waiting .waiting__subtitle {
    margin-top: 15px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 20px;
    color: #E3E3E3;
    text-align: center;
}

.divider {
    width: 220px;
    height: 3px;
    background: #636363;
}

.waiting .waiting__divider {
    margin: 0 auto;
    margin-top: 35px;
}

.waiting .waiting__wrapper {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 50px;
}

.waiting .waiting__wrapper .waiting__item {
    width: 370px;
}

.waiting .waiting__wrapper .waiting__item .waiting__descr {
    color: #E3E3E3;
}

.waiting .waiting__wrapper .waiting__item .waiting__img {
    display: block;
    margin: 0 auto;
    margin-bottom: 25px;
}

.about-optimization__content {
    margin-left: 480px;
}

.about-optimization__content-title {
    color: #2F2CAE;
    text-align: left;
    font-weight: 600;
    margin-top: 0;
}

.about-optimization__content-descr {
    text-align: left;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 22px;
    margin-top: 30px;
    color: #4A4A4A;
}

.about-optimization {
    min-height: 630px;
    background: url(/img/background/about-optimization_background.png) center center/cover no-repeat;
    padding: 150px 0;
}

.optimization-img {
    width: 400px;
    height: 508px;
    position: absolute;
    top: -20px;
    left: 0;
    margin-right: 30px;
}

.after-course {
    background-color: #363636;
    padding: 150px 0;
}

.after-course__divider {
    margin: 0 auto;
    margin-top: 35px;
}

.after-course__wrapper {
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.after-course__title {
    margin: 0;
}

.after-course__item {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.after-course__round {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 110px;
    height: 110px;
    background-color: #FFFFFF;
    border-radius: 100%;
    margin-bottom: 25px;
}

.after-course__img {
    width: 56px;
    height: 57px;
    display: block;
    margin: 0 auto;
}

.after-course__descr {
    color: #EFEFEF;
    max-width: 220px;
}