* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.content-container {
    width: 1140px;
    margin: 0 auto;
    position: relative;
}

.promo {
    height: 820px;
    background: url('../img/background/main_background.png') center center/cover no-repeat;
    padding: 40px 0 50px 0;
}

.logo .logo_img {
    display: block;
    margin: 0 auto;
}

.logo .logo_text {
    text-align: center;
    font-family: 'Roboto';
    color: #FFFFFF;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
    text-transform: uppercase;
    margin-top: 14px;
}

.title {
    margin-top: 80px;
    margin-bottom: 8px;
    text-align: center;
    font-family: 'Roboto';
    color: #FFFFFF;
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 40px;
    text-transform: uppercase;
}

.simple .title_big {
    margin-bottom: 8px;
    text-align: center;
    font-family: 'Roboto';
    color: #FFFFFF;
    font-style: normal;
    font-weight: 700;
    font-size: 80px;
    line-height: 94px;
    text-transform: uppercase;
}

.title_little {
    text-align: center;
    font-family: 'Roboto';
    color: #FFFFFF;
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 40px;
    text-transform: uppercase;
}

.promo .promo_text {
    margin-top: 40px;
    text-align: center;
    font-family: 'Roboto';
    color: #F5F5F5;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
}

.promo .promo_text span {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 28px;
    color: #2F2CAE;
}

.promo_btn {
    display: block;
    margin: 0 auto;
    margin-top: 40px;
    width: 342px;
    height: 72px;
    background: linear-gradient(0deg, #2F2CAE 0%, #5552D7 100%);
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    font-size: 21px;
    line-height: 25px;
    text-transform: uppercase;
    color: #FFFFFF;
    border: 0;
    cursor: pointer;
}

.promo_gift {
    cursor: pointer;
}

.promo_gift .promo_gift_btn {
    display: block;
    margin: 0 auto;
    margin-top: 80px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.promo_gift .promo_gift_icon {
    display: block;
    margin: 0 auto;
    margin-top: 10px;
}

.waiting {
    background-color: #363636;
    min-height: 644px;
    padding: 150px 0;
}

.waiting .waiting_title {
    text-align: center;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    margin-top: 0;
    text-transform: uppercase;
}

.waiting .waiting_subtitle {
    margin-top: 15px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 20px;
    color: #E3E3E3;
    text-align: center;
}

.divider {
    width: 220px;
    height: 3px;
    background: #636363;
}

.waiting .waiting_divider {
    margin: 0 auto;
    margin-top: 35px;
}

.waiting .waiting_wrapper {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}

.waiting .waiting_wrapper .waiting_item {
    width: 370px;
}

.descr {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 21px;
    text-align: center;
}

.waiting .waiting_wrapper .waiting_item .waiting_descr {
    color: #E3E3E3;
}

.waiting .waiting_wrapper .waiting_item .waiting_img {
    width: 314px;
    height: 185px;
    display: block;
    margin: 0 auto;
    margin-bottom: 25px;
}

.about-optimization__content {
    margin-left: 480px;
}

.about-optimization__content-title {
    color: #2F2CAE;
    text-align: left;
    font-weight: 600;
    margin-top: 0;
}

.about-optimization__content-text {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 22px;
    margin-top: 30px;
    color: #4A4A4A;
}

.about-optimization {
    min-height: 630px;
    background: url(/img/background/about-optimization_background.png) center center/cover no-repeat;
    padding: 150px 0;
}

.optimization-img {
    width: 400px;
    height: 508px;
    position: absolute;
    top: -20px;
    left: 0;
    margin-right: 30px;
}

.after-course {
    background-color: #363636;
    padding: 150px 0;
}

.after-course__divider {
    margin: 0 auto;
    margin-top: 35px;
}

.after-course__wrapper {
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.after-course__title {
    margin: 0;
}

.after-course__item {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.after-course__round {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 110px;
    height: 110px;
    background-color: #FFFFFF;
    border-radius: 100%;
    margin-bottom: 25px;
}

.after-course__img {
    width: 56px;
    height: 57px;
    display: block;
    margin: 0 auto;
}

.after-course__descr {
    color: #EFEFEF;
    max-width: 220px;
}